@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap");

:root {
  --ff-primary: "Lora", serif;
  --ff-seconary: "Montserrat", sans-serif;
  --ff-tertiary: "Crimson Pro", serif;

  --clr-primary: white;
  --clr-seconary: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--ff-primary);
}

body {
  background-color: var(--clr-seconary);
  color: var(--clr-primary);
}

h1 {
  font-weight: 500;
  font-size: clamp(36px, 3.43vw, 48px);
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

footer {
  margin-top: 8%;
  font-family: var(--ff-seconary);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #bdbdbd;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: min(90%, 1440px);
}

.nav-container {
  position: relative;
  justify-content: space-between;
}

.btn {
  border: none;
  padding: 8px;
  color: var(--clr-primary);
}

.btn-home {
  font-family: var(--ff-tertiary);
  font-style: normal;
  font-weight: 200;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px white solid;
}

.nav-item {
  font-family: var(--ff-seconary);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--clr-primary);
  margin-left: 6rem;
}

.active {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content-container > * {
  align-self: flex-start;
}

.content {
  font-family: var(--ff-seconary);
  font-weight: 400;
  font-size: clamp(14px, 1.71vw, 24px);
  line-height: 1.2;
  padding-inline-end: 3rem;
  margin-bottom: 3rem;
}

.read-more {
  font-family: var(--ff-seconary);
  font-weight: 700;
  font-size: clamp(14px, 1.29vw, 18px);
  color: var(--clr-primary);
}

.material-icons {
  font-size: clamp(14px, 1.29vw, 18px);
  color: white;
  vertical-align: middle;
}

.img-container {
  flex-direction: column;
  position: relative;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 60%;
  height: 40%;
  padding-inline: 24px;
  position: absolute;
  transform: translate(20%, 120%);
}

.img-card {
  flex-basis: 20%;
}

.img-aliza {
  border-radius: 50%;
}

.card-desc {
  height: 80px;
  flex-basis: 70%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  font-family: var(--ff-seconary);
  font-weight: 500;
  font-size: clamp(12px, 1vw, 14px);
}

.position {
  font-family: var(--ff-seconary);
  font-weight: 500;
  font-size: clamp(10px, 0.86vw, 12px);
  color: #828282;
}

.desc {
  padding-inline-end: 30%;
  font-size: clamp(18px, 1.71vw, 24px);
  line-height: 1.5;
}

#toggler {
  position: absolute;
  top: 0.8rem;
  right: 0.2rem;
  width: 45px;
  height: 45px;
  opacity: 0;
  z-index: 4;
  display: none;
}

.hamburger {
  position: absolute;
  top: 0.8rem;
  right: 0.2rem;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--clr-seconary);
  z-index: 3;
  display: none;
}

.hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburger > div::before,
.hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -12px;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

.hamburger > div::after {
  top: 12px;
}

#toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

#toggler:checked + .hamburger > div::before,
#toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

@media (max-width: 900px) {
  header.container {
    display: block;
  }

  footer {
    margin-top: 15%;
  }

  .container {
    flex-wrap: wrap;
  }

  .content-container,
  .img-container {
    width: 100%;
  }

  .card {
    width: 80%;
    height: 45%;
    padding-inline: 12px;
    transform: translate(8%, 120%);
  }

  .card-desc {
    height: 60px;
    flex-basis: 70%;
  }

  .desc {
    padding-inline-end: 20%;
  }

  .menu {
    display: none;
  }

  #toggler {
    display: inline;
  }

  .hamburger {
    display: inline;
  }

  #toggler:checked ~ .menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-seconary);
    margin: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    text-align: center;
    margin: 0;
  }

  #toggler:checked ~ .menu > .nav-item {
    margin: 20px auto;
  }
}
